{% extends "base.html" %}

{% block title %}
- Change Password
{% endblock %}

{% block body %}
<div class="container">
    <div>
        <div class="row mt-5 mb-5">
            <div class="col">
                <br> <br> <br>
                <h5>Update User Informations</h5>
                <form class="mt-3" method="POST">
                    {% from "_formhelper.html" import render_field %}
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="password">Password</label>
                                {{ render_field(form.password, class="form-control",
                                placeholder="Password",id="password", value=user.password) }}
                            </div>

                        </div>
                    </div>
                    {% for msg in messages %}
                    <h2 style="color:red; margin-bottom: 10px;">{{ msg }}</h2>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">
                        Change Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}